<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="/app/logs/internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="allfile" fileName="/app/logs/nlog-all-${shortdate}.txt"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="ownFile-web" fileName="/app/logs/nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <target name="logstash" xsi:type="Network" address="tcp://logstash.iframework.com:5000" newLine="true" maxQueueSize="1">
      <layout xsi:type="JsonLayout" includeAllProperties="false">
        <attribute name="timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="category" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="environment" layout="service-production" />
        <attribute name="appname" layout="mts" />
        <attribute name="identity" layout="${identity}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="allfile" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />

    <logger name="*" minlevel="Error" writeTo="logstash" />
    <logger name="*" minlevel="Trace" writeTo="logstash" />
    
    <!--<logger name="*" levels="Debug,Error" writeTo="logstash" />-->
  </rules>
</nlog>